.fa-shopping-cart {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.5rem;
  text-decoration: none;
}

.cartQty {
  color:gray;
  text-decoration: none;
}
.cartQty:hover {
  color:whitesmoke;
  text-decoration: none;
}

.disabledCart {
  color:darkred;
  text-decoration: none;
}
.disabledCart:hover {
  color:darkred;
  text-decoration: none;
  cursor:default;
}