
.itemDetail {
    max-width: 1024px;
    margin: 0px auto;
    margin-bottom: 35px;
    margin-top: 80px;
}

.itemDetailPicContainer {
    margin: 0px auto;
    height: 500px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card p {
    margin-bottom: 0.1rem;
}

.card-footer {
    align-content: center;
    display: flex;
}